@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Josefin+Sans&family=Kaushan+Script&family=Roboto:wght@100;400&family=Ubuntu&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none !important;
}
.sous_menu{
    list-style-type: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    min-height: 50px !important;
}
.sous_menu>a{
    display: inline-block;
    font-size: 20px;
    color: black;
}
.container_menu{
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    box-shadow: 9px 0px 9px rgba(0,0,0,0.5);
    z-index: 100;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: white;
}
.logo{
    width: 20%;
}
.menu_{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.accueil_link{
    color: white;
    font-weight: bold;
}
.active{
    background-color: teal;
}
.sous_menu:hover{
    background-color:chocolate;
}

.img_back_section{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top:0px;
    padding-top: 50px;
}
.img_container{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("images/font2copie.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_container>h2{
    padding-left: 4%;
    padding-right: 4%;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
}
.img_container>h4{
    padding-left: 4%;
    padding-right: 4%;
    font-size: 30px;
    margin: 25px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.shop_button{
    padding: 5px;
    font-size: 25px;
    background-color: teal;
    width: 190px;
    font-weight:bold ;
    display: inline-block;
    cursor: pointer;
    color: white;
    text-transform:uppercase;
    text-align: center;
}
.shop_button:hover{
    color: teal;
    background: none;
    border-radius: 25px;
    border: 2px solid teal;
    transition: 0.3s;
}
.product_section{
    position: relative;
    margin: 50px 0px;
}
.section_title span{
    height: 5px;
    background-color: teal;
    width: 10%;
    display: inline-block;
}
.section_title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_title>h2{
    margin: 0px 5px;
}
.produit_item{
    width: 260px;
    height: 350px;
    border: 1px solid teal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    margin: 25px;
    padding: 5px;
}
.produit_image{
    width: 90%;
    position: relative;
    height: 60%;
    object-fit: cover;
    padding: 5px;
}
.produit_item figcaption{
    position: relative;
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.produit_title{
    font-size: 20px;
    font-weight: bold;
}
.produit_price{
    font-size: 20px;
    text-transform: uppercase;
}
.shop_button_container{
    position: relative;
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.produit_item .shop_button{
    font-size: 20px;
}
.produit_item .shop_button:hover{
    color: yellow;
    background: teal;
    opacity: 0.8;
    border-radius: 0px;
}
.all_product{
    position: relative;
    width: 85%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}